<div id="globalContainer">
	<div id="userContainer" class = "layer">
		<div id="peopleContainer" class="gButtons"></div>
	</div>
	<div id="circleContainer" class = "layer">
		
	</div>
	<div id="containerSelectorTask" class = "layer gButtons">
		<input type = "button" id ="circleAdd" value = "new circle"/>
		<input type = "button" id ="personAdd" value = "new person"/>
	</div>
</div>