<div id="globalContainer">
	<div id = "menuLeader">
		<div id= "closeCircleDefinition" class = "gButton delete" style = "display:none"></div>
		<strong>Activity Designer</strong>
		<div id= "changeTaskCreator" class = "gButton delete">Task Creator</div>
	</div>
	<div id = "bodyContainer">
		<div id="userContainer" class = "layer">
			<div id ="trash" style = "visibility:none"></div>
			<div id="peopleContainer" class="gButtons"></div>
		</div>
		<div id="circleContainer" class = "layer">
			<div id ="circleAdd" class = "gButton add"> New Circle</div>
		</div>
		<div id = "specialCircleContainer" class = "layer"></div>
		
		<div id="containerSelectorTask" class = "layer gButtons"></div>
	</div>
</div>

       <!--Modal para la creación de circles -->
<div id="modalCircleCreator">
	<div class="yui3-widget-hd">
		<h3><em>Creación</em> de un Circulo</h3>
	</div>

	<div class="yui3-widget-bd">
		<input class = "textModal" />
	</div>

	<div class="yui3-widget-ft">
		<div>
			<button class ="cancelModal">cancel</button>
			<button class ="createModal">create</button>
		</div>
	</div>
</div>