<div id="globalContainer">
	<div id="userContainer" class = "layer">
		<div id="peopleContainer" class="gButtons"></div>
	</div>
	<div id="circleContainer" class = "layer">
		
	</div>
	<div id="containerSelectorTask" class = "layer gButtons"></div>
</div>

       <!--Modal para la creación de circles -->
<div id="modalCircleCreator">
	<div class="yui3-widget-hd">
		<h3><em>Creación</em> de in Circulo</h3>
	</div>

	<div class="yui3-widget-bd">
		<input class = "textModal" />
	</div>

	<div class="yui3-widget-ft">
		<div>
			<button class ="cancelModal">cancel</button>
			<button class ="createModal">create</button>
		</div>
	</div>
</div>