<div  id = "divLogin">
	<div class="signin-box">
		<h2>Sign in <strong></strong></h2>
		<label>
			<strong>Username</strong>
			<input type="text" id="login_UserName" value="">
		</label>
		<label>
			<strong>Password</strong>
			<input type="password" id="login_Password"/>
		</label>
		<input type="button" class="gButton g-button-submit" id="signIn" value="Sign in"/>
	</div>
</div>