<div id = "div_mainMenuLeader">
	<div id ="btn_create_activity" class = "gButton "><span> Crear actividad </span></div>
	<div id = "btn_create_task" class = "gButton"><span> Crear una task </span></div>
</div>