<div id ="divCreatorPeople">
	<input type ="text" name ="name" class = "selector_name"/>
	<input type ="text" name ="nick" style = "visibility:none" class = "selector_nick"/>
	<input type ="text" name ="password" style = "visibility:none" class = "selector_password"/>
	<input type ="text" name ="passwordR" style = "visibility:none" class = "selector_passwordR"/>
	<div id = "buttonAddPerson" style = "visibility:none" class = "gButton add"></div>
	
<div>