<div id ="divCreatorPeople">
	<input type ="text" name ="name" class = "selector_name"/>
	<input type ="text" name ="nick"  class = "selector_nick"/>
	<input type ="text" name ="password"  class = "selector_password"/>
	<input type ="text" name ="passwordR"  class = "selector_passwordR"/>
	<div id = "buttonAddPerson" class = "gButton add"></div>
	
<div>