<div id = "divRegister">
	<div id = "header-bar">
		<div class="content clearfix">
			<img class="logo" src="//ssl.gstatic.com/images/logos/google_logo_41.png" alt="Google">
			<span class="signup-button">
				New to Newsketcher?
				<input type="button" class="createAccount gButton g-button-submit" id="login_form" value="Login"/>
			</span>
		</div>
	</div>
	<div class = "form-box">
		<label>
			<strong>Username</strong>
			<input type="text" id="login_userName" value="">
		</label>
		<label>
			<strong>Name</strong>
			<input type="text" id="login_name" value="">
		</label>
		</label>
		<label>
			<strong>User Type</strong>
			<select id = "login_userType">
				<option value="follower">Follower</option>
				<option value="leader">Leader</option>
			</select>   
		</label>
		<label>
			<strong>Password</strong>
			<input type="password" id="login_password"/>
		</label>
		<label>
			<strong>Retype Password</strong>
			<input type="password" id="login_retypePassword"/>
		</label>
		<input type="button" class="submitForm gButton g-button-submit" id="signUp" value="Sign Up"/>
	</div>
</div>