<div id="divGlobalScreenSelectorTask">
	<ul id="div_containerSelectorTask" class = "layer gButtons"></ul>
	<div id="div_containerSelectorInfoTask" class = "layer gButtons">
		<span></span>
		<input type = "button" id = "btn_start_task" value = "start"/>
	</div>
</div>