#divGlobalScreenSelectorTask	
{
	position:absolute;
	top:40px;
	bottom:0;
	height:100%;
	width:100%;
}

#divHeaderScreenSelectorTask
{
	height: 40px;
	width:100%;
	background: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

#blockLayer
{
	opacity:0.8;
	z-index:0;
}

#div_containerSelectorInfoTask
{
	position:absolute;
	top:0;
	left:0;
	width:30%;
	height:100%;
	overflow:auto;
	z-index:100;
}

#btn_hide_taskInfo
{
	right : 0;
	height:44px;
	width:28px;
	position: absolute;
	line-height: 44px;
	text-align:center;
}

#imgHide
{
	background: no-repeat url('./images/hideShow.png') -10px 0;
	width: 6px;
	height: 12px;
	top:50%; 
	margin-top:-50px;
	vertical-align:text-top;
	
}

#btn_show_taskInfo
{
	top: 15px;
	left : 0;
	position: absolute;
	z-index:100;
}

#div_containerSelectorInfoTask label
{
	display: block;
	margin: 0 0 1.5em;
}

#div_containerSelectorInfoTask label strong
{
	float:left;
	font-weight: bold;
	margin: 0 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;	
	color: #15C;
}

#div_containerSelectorInfoTask label span
{
	display: inline-block;
	height: 29px;
	width: 90%;
	font-size: 15px;
	margin: 5%;
	padding-left: 8px;
	background: white;
	border: 1px solid #D9D9D9;
	border-top: 1px solid silver;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
}

#headerTaskType
{
	position:absolute;
	width:100%;
	height:44px;
	border-bottom: 1px solid #EBEBEB;
	height: 58px;
	background: white;
	z-index: 2;
}

#workspace {
  position: absolute;
  background-color: #333333;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70%;
  height:100%;
  z-index:1;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#toolbar
{
  position: relative;
  padding-right: 0;
  padding-left: 0;
  
  height:200px;
  width:100%;
  top:0;
}

#toolbar_centerUp
{
	display:inline-block;
	position:absolute;
	top:25px;
	left:50px;
	width:200px;
	height:100px;
	background-color:red;
}

#changeTaskContainer
{
	top:auto;
	bottom:auto;
	right: 15px;
	position:absolute;
	cursor:pointer;
}

#instanceSubTaskInput
{
	left: 2px;
	top: 1px;
	position: absolute;
	border: 1px solid #CCC;
	font: 17px arial,sans-serif;
	margin-bottom: 10px;
	padding: 5px;
	width: 250px;
}

#btnNewInstance
{
	float:right;
	top:2px;
}

#btnCancelNewInstance
{
	float:right;
	top:2px;
}

.dropdownmenu
{
	z-index:1000;
	position:absolute;
	background:#fff;
	cursor:default;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #676767;
	border-right:1px solid #676767
}

ul.dropdownmenu{ /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}
 
ul.dropdownmenu li{ /* all list items */
	float: left;
	position: relative;
	width: 4em;
	background-color:#FFF;
}
ul.dropdownmenu li:hover
{ 
  cursor:pointer;
}







.toolbarPanning {
		
	background-color:#333333;
			
}

.toolbarDrawing {
		
	background-color:#ffd700;
			
}

#toolbar-left{
	
	left:0;
	width:80%;
	position: absolute;
	
}

#toolbar-right{

	top:0;
	right:0;
	width:20%;
	position: absolute;
}


#toolbar h4 {
  margin-left: 18px;
}


li.liGroup
{
	
}

ul.backgroundGroup
{
	background:rgba(74, 153, 207 ,0.2);	
}

h2.backgroundHeaderGroup
{
	 background: rgba(74, 153, 207 ,1) !important;/*E6E9F5*/ 
}

li.liTask
{
	  padding-left: 10px;
}

ul.backgroundTask
{
	background-color:rgba(238, 205, 134,0.5);	
}

h2.backgroundHeaderTask
{
	 background: rgba(238, 205, 134,1) !important;/*E6E9F5*/
}

li.liSubTask
{
	  padding-left: 10px;
}

ul.backgroundSubTask
{
	background-color:rgba(227, 145, 131,0.5);	
}

h2.backgroundHeaderSubTask
{
	 background: rgba(227, 145, 131,1) !important;/*E6E9F5*/ 
	cursor:pointer;
}




.instanceTask
{
	position: relative;
	cursor: move;

	background: #9D9B86;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	color: #5E6BA4;
	font-weight: bold;
	font-size: 107.692%;
	margin: 1;
	padding: 9px 7px 9px;
	margin-left:10px;
	margin-bottom:2px;
}

.instanceTaskActive
{
	background: #0000ff !important;
}

.insTaskMoving
{
	background: transparent url('./images/copy.png') no-repeat;
	height:75px !important;
	width:75px !important;
}

.insTaskNode
{
	opacity:0.6;
}

.insTaskOver
{
	background:#baeebd;
}

.instanceTaskworking
{
	
}

.elementInstanceSubTaskCreator
{
	position: relative !important;
	height:35px;
	background: #9D9B86;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	color: #5E6BA4;
	font-weight: bold;
	font-size: 107.692%;
	margin: 1;
	padding-right: 7px;
	margin-left:10px;
}

