.globalContainer
{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	
	height:auto;
	width:30%;
	padding: .5em; 
	z-index:1;
}

.layer
{
	position: absolute;

	background: #F9F9FC;/*E6E9F5*/
	border: 1px solid #D4D8EB;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
}

ul.list
{
	position:absolute;
	top:0;
	bottom:0;
	right:0;

	margin-top:3px;
	margin-bottom:3px;
	margin-right:3px;
		
	width: 100%;
	height:auto;
	overflow:auto;
}

.yui3-dd-proxy
{
    text-align: left;
    padding-left: 20px;
    padding: 5px;
    margin: 2px;
}

.yui3-dd-proxy li, div.globalContainer li {
    padding-left: 20px;
    padding: 5px;
    margin: 2px;
}

div.globalContainer li.moving {
    background: #F9F9FC;/*E6E9F5*/
    border: 1px solid #D4D8EB;
}

div.mod {
    position: relative;

    background: #F9F9FC;/*E6E9F5*/
    border: 1px solid #D4D8EB;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica', 'Arial', sans-serif;
    margin: 15px 0;
    padding-bottom: 1px;



}
div.mod div.inner {
    overflow: hidden;
}
div.mod div.inner div.loading {
    background-image: url(progress.gif);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 5px 5px 5px 25px;

}
div.mod div.inner ul li {
    padding-left: 20px;
    font-size: 80%;
}
div.mod div.inner ul li a {
    color: #000;
}
div.mod h2 {
    position: relative;

    background: #E5E6F1;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #5E6BA4;
    font-weight: bold;
    font-size: 107.692%;
    margin: 0;
    padding: 4px 7px 5px;


}

div.mod h2 strong {
    font-weight: bold;
    background-repeat: no-repeat;
    padding-left: 25px;
}

div.minned h2 {
    border-bottom: 1px solid #ccc;
}

div.mod h2 a.close, div.mod h2 a.min {
    background-color: #F9F9FC;
    color: #5E6BA4;
    text-align: center;
    display: block;
    height: 24px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    right: 4px;
    top: 0;
    position: absolute;
   
    padding: 0;
}
div.mod h2 a.min
{
    background: transparent url('./images/contract.png') no-repeat;
}
div.minned h2 a.min
{
    background: transparent url('./images/expand.png') no-repeat;
}
div.mod h2 a:hover.close, div.mod h2 a:hover.min {
    border-color: #D4D8EB;
}

ul.elementContainer
{
	max-height:400px;
	overflow:auto;
}