/*
	Botón de edición
*/

#toggleModeButton
{
	background: transparent url('./images/btnDrawing.png') no-repeat;
	position: absolute;
	left:15px;
	height:57px;
	width:58px;
	top:15px;
}

#toggleModeButton:hover
{ 
  cursor:pointer;
}

.btnPanningClass
{
	background: transparent url('./images/btnPanning.png') no-repeat !important;
}

/*
	Botón de color
*/

#location
{
	background-image: url('./images/my_location.png');
	background-position: 0 0;	
	position: absolute;
	width: 22px;
	height: 22px;
	z-index:1;
	top: 100px;
	left: 31px;
}

#location:hover
{
	cursor:pointer;
}

.gpsWorking
{
	background-position: 0 -22px !important;
}

#btnColor
{

	background: transparent url('./images/btnBlue.png') no-repeat;
	height:31px;
	width:39px;
	
}

#btnColor:active
{
    background: transparent url('./images/Bsd.png') no-repeat;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

#btnColor:hover
{ 
  cursor:pointer;
}

/*
	Botón de grosor
*/

#btnSketch
{	
	background: transparent url('./images/btnNormal.png') no-repeat;
	height:31px;
	width:39px;
}

#btnSketch:active
{
    background: transparent url('./images/Bsd.png') no-repeat;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

#btnSketch:hover
{ 
  cursor:pointer;
}
