#divGlobalScreenSelectorTask	
{
	position:absolute;
	top:40px;
	bottom:0;
	height:auto;
	width:100%;
}

#divHeaderScreenSelectorTask
{
	height: 40px;
	width:100%;
	background: #F5F5F5;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
}

#div_containerSelectorTask
{
	position:absolute;
	top:0;
	right:0;
	width:30%;
	height:100%;
	overflow:auto;
}
#div_containerSelectorInfoTask
{
	position:absolute;
	top:0;
	left:0;
	width:30%;
	height:100%;
	overflow:auto;
	z-index:100;
}

#btn_start_task
{
	bottom : 15px;
	right : 15px;
	position: absolute;
}

#btn_hide_taskInfo
{
	top: 15px;
	right : 15px;
	position: absolute;
}
#btn_show_taskInfo
{
	top: 15px;
	left : 0;
	position: absolute;
	z-index:100;
}

#div_containerSelectorInfoTask label
{
	display: block;
	margin: 0 0 1.5em;
}

#div_containerSelectorInfoTask label strong
{
	float:left;
	font-weight: bold;
	margin: 0 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;	
}

#div_containerSelectorInfoTask label span
{
	display: inline-block;
	height: 29px;
	width: 90%;
	font-size: 15px;
	margin: 5%;
	padding-left: 8px;
	background: white;
	border: 1px solid #D9D9D9;
	border-top: 1px solid silver;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;	
}