<!DOCTYPE html>
<html>
	<head>
		<title>Newsketcher</title>
    
    <!--<script type="text/javascript" src="/js/jquery.mobile.js"></script>-->
    
    <!--<script type="text/javascript" src="/js/jquery.touchScrollable.js"></script>-->
    <!--<script type="text/javascript" src="/js/jquery.github-voice.js"></script>-->
	
	<!-- CSS -->
	<!--<link rel="stylesheet" href="/css/jquery.mobile.css" />-->
	<!--<link rel="stylesheet" href="/css/application.css" />-->
	<link rel="stylesheet" href="/css/mapsketcher.css" />
	<link rel="stylesheet" href="./css/groupDefiner.css" />
	<link rel="stylesheet" href="./css/definerTaskContainer.css" />
	<link rel="stylesheet" href="./css/objetivesView.css" />
	<link rel="stylesheet" href="./css/stepsView.css" />
	<link rel="stylesheet" href="./css/infoWindow.css" />
	<link rel="stylesheet" href="./css/todoListCommon.css" />
	<link rel="stylesheet" href="./css/login_register.css" />
	<link rel="stylesheet" href="./css/activityWorkOut.css" />
	<link rel="stylesheet" href="/css/CssToolbar.css" />
	<link rel="stylesheet" href="/css/roommates.css" />
	<link rel="stylesheet" href="/css/CssButtons.css" />
	<link rel="stylesheet" href="/css/CssTask.css" />
	<link rel="stylesheet" href="/css/screenSelectTask.css" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/2.8.2/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css"> 
	<!--<link rel="stylesheet" href="/css/github-voice.css" />-->
	<link rel="stylesheet" href="/css/modal.css" />
	
	<!-- JQuery -->
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.tools.js"></script>
	
	<!-- Modal -->
	<script type="text/javascript" src="/js/models/modal.js"></script>
	
	<!-- Google Maps Api -->
	<script type="text/javascript" src="http://www.google.com/maps/api/js?v=3.3&sensor=false"></script>
	
	<!-- Socket -->
	<script type="text/javascript" src="/socket.js"></script>
	
	<!-- Libreria para realizar drag and drop desde cualquier dispositivo--->
	<script src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js" charset="utf-8"></script>
	
    	<!-- Utilidades -->
    	<script type="text/javascript" src="/js/underscore.js"></script>
    	<script type="text/javascript" src="/js/utils.js"></script>
    	<script type="text/javascript" src="/js/models/connectionServer.js"></script>
	
	<!--Algoritmo reducción de puntos en polilineas-->
	<script type="text/javascript" src="/js/models/DPR.js"></script>
    
	<!--Static Google Maps-->	
    	<script type="text/javascript" src="/js/models/staticRoom.js"></script>
    	<script type="text/javascript" src="/js/models/staticMap.js"></script>
    
    	<!--Google Maps elements-->
	<script type="text/javascript" src="/js/models/googleMaps/infobubble.js"></script>
	<script type="text/javascript" src="/js/models/infoWindow.js"></script>
	<script type="text/javascript" src="/js/models/googleMapWizard.js"></script>
	<script type="text/javascript" src="/js/models/sketch.js"></script>
	<script type="text/javascript" src="/js/models/polyline.js"></script>
	<script type="text/javascript" src="/js/models/marker.js"></script>
	<script type="text/javascript" src="/js/models/overlay.js"></script>
	<script type="text/javascript" src="/js/models/map.js"></script>
	
	<!--Archivos de la aplicacion-->
	<script type="text/javascript" src="/js/models/canvas.js"></script>
	<script type="text/javascript" src="/js/models/workspace.js"></script>
	<script type="text/javascript" src="/js/new_sketcher_client.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>

	<!--Archivos para la adminitración de grupo-->
	<!--<script type="text/javascript" src="/js/models/roommate.js"></script>
	<script type="text/javascript" src="/js/models/groupWizard.js"></script>
	<script type="text/javascript" src="/js/models/groupInstanceTaskWizard.js"></script>
	<script type="text/javascript" src="/js/models/user.js"></script>-->
	
	<!--Archivos para la administración de circles-->
	<script type="text/javascript" src="/js/models/circles/circle.js"></script>
	<script type="text/javascript" src="/js/models/circles/circleCreator.js"></script>
	<script type="text/javascript" src="/js/models/circles/containerCircle.js"></script>
	<script type="text/javascript" src="/js/models/circles/specialContainerCircle.js"></script>
	<script type="text/javascript" src="/js/models/circles/normalContainerCircle.js"></script>
	
	<!--Archivos para la administración de People-->
	<script type="text/javascript" src="/js/models/people/person.js"></script>
	<script type="text/javascript" src="/js/models/people/personCreator.js"></script>
	<script type="text/javascript" src="/js/models/people/peopleContainer.js"></script>
	<script type="text/javascript" src="/js/models/people/user.js"></script>
	
	<!--Archivos para la administración de selectorTask -->
	<script type="text/javascript" src="/js/models/task/selector/selectedTask.js"></script>
	<script type="text/javascript" src="/js/models/task/selector/containerSelectorTask.js"></script>
	
	<!--Archivos para la administración de Actividades -->
	<script type="text/javascript" src="/js/models/activityDesigner.js"></script>
	
	<!--Archivos para mostrar activity work out-->
	<script type="text/javascript" src="/js/models/work_out/activityWorkOut.js"></script>
	<script type="text/javascript" src="/js/models/subTask/subTaskUI.js"></script>
	<script type="text/javascript" src="/js/models/subTask/instanceSubTask.js"></script>
	<script type="text/javascript" src="/js/models/subTask/instanceSubTaskUI.js"></script>
	<script type="text/javascript" src="/js/models/subTask/instanceSubTaskCreator.js"></script>
	<script type="text/javascript" src="/js/models/subTask/room.js"></script>
	<script type="text/javascript" src="/js/models/subTask/showRoom.js"></script>
	<script type="text/javascript" src="/js/models/subTask/showRoomUI.js"></script>
	<script type="text/javascript" src="/js/models/subTask/infoOnMap.js"></script>
	
	<!--Archivos para la adminitración de grupo-->
	<script type="text/javascript" src="/js/models/group/groupWizard.js"></script>
	<script type="text/javascript" src="/js/models/group/instanceSubTaskGroup.js"></script>
	
	
	<!--Archivos para la administración de Lista de items -->
	<script type="text/javascript" src="/js/models/list/listAddView.js"></script>
	<script type="text/javascript" src="/js/models/list/listModel.js"></script>
	<script type="text/javascript" src="/js/models/list/localStorageSync.js"></script>
	<script type="text/javascript" src="/js/models/list/objetivesView.js"></script>
	<script type="text/javascript" src="/js/models/list/stepsView.js"></script>
	<script type="text/javascript" src="/js/models/list/moduleModel.js"></script>
	
	<!--Archivos de la capa View-->
		<!--Archivos de list-->
		<script type="text/javascript" src="/js/view/list/specialListView.js"></script>
		<script type="text/javascript" src="/js/view/list/specialListAppView.js"></script>
	
	<!--Archivos de la capa Model -->
	<script type="text/javascript" src="/js/model/list/specialListModel.js"></script>
	
	<!--Archivos para módulos genéricos-->
	<script type="text/javascript" src="/js/models/generic_container/genericContainer.js"></script>
	<script type="text/javascript" src="/js/models/generic_div_animation/genericDivAnimation.js"></script>
	<script type="text/javascript" src="/js/models/generic_group/genericGroup.js"></script>
	
	<!--Archivos para la gestion de task--> 
	
	<script type="text/javascript" src="/js/models/task/creator/taskCreator.js"></script>
	<!--
	<script type="text/javascript" src="/js/models/task/menu/instanceTaskUI.js"></script>
	<script type="text/javascript" src="/js/models/task/menu/instanceTask.js"></script>
	<script type="text/javascript" src="/js/models/task/menu/instanceTaskLayer.js"></script>
	<script type="text/javascript" src="/js/models/task/menu/moduleTask.js"></script>
	<script type="text/javascript" src="/js/models/task/menu/InstanceTaskCreator.js"></script> 
	<script type="text/javascript" src="/js/models/task/menu/containerTask.js"></script>
	<script type="text/javascript" src="/js/models/task/menu/containerTaskLeader.js"></script>
	<script type="text/javascript" src="/js/models/task/menu/containerTaskFollower.js"></script>
	-->
	
	<!--Archivos para mostrar task disponibles a followers-->
	<script type="text/javascript" src="/js/models/circles/show/showContainerCircle.js"></script>
	<script type="text/javascript" src="/js/models/circles/show/showCircle.js"></script>
	<script type="text/javascript" src="/js/models/task/show/showTask.js"></script>
    
	<!--Archivos para workspace-->
	<script type="text/javascript" src="/js/models/workspace/workspaceBase.js"></script>
	<script type="text/javascript" src="/js/models/workspace/workspace.js"></script>
	<script type="text/javascript" src="/js/models/workspace/workspaceRead.js"></script>
	<script type="text/javascript" src="/js/models/workspace/workspaceToSubTask.js"></script>
	
	<!--Gestures-->
	<script type="text/javascript" src="/js/models/gestures/dollar.js"></script>
	
	</head>
	<body>
		<div id="ajaxContainer"></div>
	</body>
</html> 
