<div id ="divCreatorTask">
	<div id = "bar_task_creator">
		<strong>Task Creator</strong>
		<div id= "changeActivityDesigner" class = "gButton delete">Activity Designer</div>
		<div id= "changeActivityMonitor" class = "gButton delete">Activity Monitor</div>
	</div>
	<div id = "divDefinerTask" class = "list layer">
		
		<input type ="text" name ="title" class = "selector_title text_box text_box_title"  placeholder = "Title"/>
		<ul>
			<li id = "divSubTasks"></li>
		</ul>
	</div>
	<div id = "buttonAddTask" class = "gButton g-button-submit save-big">Done</div>
</div>

<div id="divGlobalScreenCreateTask" >
	<div id="workspace" data-role="content">
		<div id="layer">
			<div id="map" class = "classBackgroundMap"></div>
		</div>

		<div id="sketches"></div>
	</div>		
	<div id="toolbar" style ="visibility:hidden">	
		<div id = "toggleModeButton" class = "btnMap"></div>
		<div id = "location"></div>
		<div id = "toolbar_centerUp" style = "display:none">
			<div class = "block">
				<div id = "btnColor" class = "btnListMap"></div>
				<ul id = "listColor" class = "dropdownmenu" style="display:none">
					<li><img id = "btnGreen" src="./css/images/green.png"/></li>
					<li><img id = "btnRed" src="./css/images/red.png"/></li>
					<li><img id = "btnBlue" src="./css/images/blue.png"/></li>
				</ul>
			</div>
			<div class = "block">
				<div id = "btnSketch" class = "btnListMap"></div>
				<ul id = "listSketch" class = "dropdownmenu" style="display:none">
					<li><img id = "btnSlim" src="./css/images/slim.png"/></li>
					<li><img id = "btnNormal" src="./css/images/normal.png"/></li>
					<li><img id = "btnFat" src="./css/images/fat.png"/></li>
				</ul>
			</div>
		</div>
	</div>	
	
</div>