<div id ="divCreatorTask">
	<div id = "bar_task_creator">
		<strong>Task Creator</strong>
		<div id= "changeActivityDesigner" class = "gButton delete">Activity Designer</div>
		<div id= "changeActivityMonitor" class = "gButton delete">Activity Monitor</div>
	</div>
	<div id = "divDefinerTask" class = "list layer">
		<select id ="select_taskType">
			<option value="free" >Free</option>
			<option value="list">List</option>
			<option value="orderList">Order List</option>
		</select>
		<input type ="text" name ="title" class = "selector_title text_box text_box_title"  placeholder = "Title"/>
		<div id = "divDefinerGoal" class = "layerTable">
			<div id = "divGoaltitle" class = "headerTable"><span>Objetives</span></div>
			<div id = "divGoals">
				<!-- This is the main container and "shell" for the todo app. -->
				<div id="todo-objetives">
				<label class="todo-label" for="new-todo"></label>
				<input type="text" id="new-todo-objetives" class="todo-input"
				placeholder="New objetive">

				<ul id="todo-list-objetives"></ul>
				<div id="todo-stats-objetives"></div>
				</div>
			</div>
		</div>
		<div id = "divDefinerStep" class = "layerTable">
			<div id = "divStepTitle" class = "headerTable"><span>Desarrollo</span></div>
			<div id = "divSteps">
				<!-- This is the main container and "shell" for the todo app. -->
				<div id="todo-steps">
				<label class="todo-label" for="new-todo"></label>
				<input type="text" id="new-todo-steps" class="todo-input"
				placeholder="New subtask">

				<ul id="todo-list-steps"></ul>
				<div id="todo-stats-steps"></div>
			</div>
		</div>
	</div>
	<div id = "buttonAddTask" class = "gButton g-button-submit save-big">Done</div>
</div>

<div id="wrapper" >
	<div id="toolbar" style ="visibility:hidden">	
		<div id = "toggleModeButton" class = "btnMap"></div>
		<div id = "location"></div>
		<div id = "toolbar_centerUp" style = "display:none">
			<div class = "block">
				<div id = "btnColor" class = "btnListMap"></div>
				<ul id = "listColor" class = "dropdownmenu" style="display:none">
					<li><img id = "btnGreen" src="./css/images/green.png"/></li>
					<li><img id = "btnRed" src="./css/images/red.png"/></li>
					<li><img id = "btnBlue" src="./css/images/blue.png"/></li>
				</ul>
			</div>
			<div class = "block">
				<div id = "btnSketch" class = "btnListMap"></div>
				<ul id = "listSketch" class = "dropdownmenu" style="display:none">
					<li><img id = "btnSlim" src="./css/images/slim.png"/></li>
					<li><img id = "btnNormal" src="./css/images/normal.png"/></li>
					<li><img id = "btnFat" src="./css/images/fat.png"/></li>
				</ul>
			</div>
		</div>
	</div>	
	<div id="workspace" data-role="content">
		<div id="layer">
			<div id="map" class = "classBackgroundMap"></div>
		</div>

		<div id="sketches"></div>
	</div>		
</div>
	
	
	
<!-- This template HTML will be used to render each todo item. -->
<script type="text/x-template" id="todo-item-template">
    <div class="todo-view">
        <input type="checkbox" class="todo-checkbox" {checked}>
        <span class="todo-content" tabindex="0">{text}</span>
    </div>

    <div class="todo-edit">
        <input type="text" class="todo-input" value="{text}">
    </div>

    <a href="#" class="todo-remove" title="Remove this task">
        <span class="todo-remove-icon"></span>
    </a>
</script>

<!-- This template HTML will be used to render the statistics at the bottom
     of the todo list. -->
<script type="text/x-template" id="todo-stats-template">
    <span class="todo-count">
        <span class="todo-remaining">{numRemaining}</span>
        <span class="todo-remaining-label">{remainingLabel}</span> left.
    </span>

    <a href="#" class="todo-clear">
        Clear <span class="todo-done">{numDone}</span>
        completed <span class="todo-done-label">{doneLabel}</span>
    </a>
</script>